* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

:root {
  --primary_brand-color: #4D5AE5;
  --pressed_state-color: #404BBF;
  --dark-color: #2E2F42;
  --success-color: #31D0AA;
  --text-color: #434455;
  --subtle_text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-color: #F4F4FD;
  --modal_overlay-color: #2E2F42;
  --hero_background-color: #2E2F42;
  --white_background-color: #FFFFFF;
  --modal_background-color: #FCFCFC;
  --transition-duration: 250ms;
  --transition-tf: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
}

.list {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.link {
  text-decoration: none;
}

/*Header Styles*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16),
              0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-logo {
  color: var(--primary_brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-span {
  color: var(--dark-color);
}

.navigation-page {
  gap: 40px;
}

.navigation-link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: inline-block;
  position: relative;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-tf);
}

.navigation-link-one-color {
  color: var(--pressed_state-color);
}

.navigation-link--current::after {
  color: var(--pressed_state-color);
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--pressed_state-color);
  border-radius: 2px;
  /* top: 46px; */  
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--pressed_state-color);
}

.address {
  font-style: normal;
}

.address-list {
  gap: 40px;
  margin-right: 0px;
}

.address-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-tf);
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed_state-color)
}

/* section no1 hero section */

.hero-section {
  background-color: var(--hero_background-color);
  padding: 188px 0;
}

.hero-section-background-image {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-section-title {
  color: #FFF;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-section-button {
  color: #FFF;
  background-color: var(--primary_brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-tf);
}

.hero-section-button:hover,
.hero-section-button:focus {
  background-color: var(--pressed_state-color);
}

/* section no2 our strong sides */

.sides-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sides-section-list {
  flex-basis: calc((100% - 72px) / 4);
}

.sides-section-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--light-color);
  border-radius: 4px;
  border: 1px solid var(--subtle_text-color);
  margin-bottom: 8px;
}

.sides-section-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.sides-section-heading {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.sides-section-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section no3 our team */

.team-section {
  background-color: var(--light-color);
  padding: 120px 0;
}

.team-section-title {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-section-list {
  background-color: var(--white_background-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-section-card {
  padding: 32px 0px;
}

.team-section-people-title {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-section-people-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-section-socials-list {
  list-style: none;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  gap: 24px;
  margin-top: 8px;  
  flex-basis: calc((100% - 72px) / 4);
}

.team-section-socials-link {
  width: 40px;
  height: 40px;
}

.team-section-socials-icon {
  width: 100%;
  height: 100%;
  background-color: var(--primary_brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-tf);
}

.team-section-socials-icon-color:hover,
.team-section-socials-icon-color:focus {
  background-color: var(--pressed_state-color);
}

.team-section-socials-icon-box {
  fill: #f4f4fd;
}

/* section no4 our portfolio */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;  
}

.portfolio-section-title {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-section-ul {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-section-list {
  width: calc((100% - 48px) / 3);
}

.portfolio-section-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-section-our-title {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-section-our-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* margin-bottom: 8px; */
}

.portfolio-section-list-a {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-tf);
}

.portfolio-section-list-a:hover,
.portfolio-section-list-a:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-section-list-div {
  position: relative;
  overflow: hidden;
}

.portfolio-section-list-text {
  position: absolute;
  top: 0;
  color: var(--light-color);
  background-color: var(--primary_brand-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-tf);
}

.portfolio-section-list-a:hover .portfolio-section-list-text, .portfolio-section-list-a:focus .portfolio-section-list-text {
  transform: translateY(0%);
}

/* footer */

.footer-container {
  display: flex;
  align-items: baseline;
}

footer {
  background-color: var(--hero_background-color);
  padding: 100px 0;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-navigation-logo {
  color: var(--primary_brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 76px;
  margin-bottom: 16px; 
}

.logo-footerspan {
  color: var(--light-color);
}

.footer-text {
  color: var(--light-color);
  font-size: 16px;
  /* margin-bottom: 16px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-socials-container {
  max-width: 208px;
}

.footer-socials-text {
  color: var(--white_background-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* text-align: start; */
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-link {
  width: 40px;
  height: 40px;
}

.footer-socials-icon {
  width: 100%;
  height: 100%;
  background-color: var(--primary_brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-tf);
}

.footer-socials-icon-color:hover,
.footer-socials-icon-color:focus {
  background-color: var(--success-color);
}

.footer-socials-icon-box {
  fill: #f4f4fd;
}